.container {
    max-width: 500px;
    margin: 15vh auto 0 auto;
    background: #88487f;
}
.display{
    padding: 10px 20px;
    border-radius: 2px;
}

#display {
    text-align: left;
    border: rgb(206, 147, 147);
    margin-top: 1px;
    margin-left: 1px;
    height: 60px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 27px;
    background-color: rgb(168, 205, 216);
}

.buttons {
    display:grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    border-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 9px 23px;
    background-color: rgb(206, 165, 170);
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
    border-color: black;
    background-color: rgb(207, 162, 167);
}

.button {
    border: 0.5px solid #999;
    border-color: black;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(206, 160, 166);
}

#equal {
    background-color: rgb(238, 225, 107);
    color: rgb(39, 37, 37);
}

